---
layout: default
---
<h1 class="centered pretty-header">{{ page.title }}</h1>
<div class="centered" style="font-family: garamond;">
    <p>Some of my pet projects that I have done over the years. All of them are open-source and available on my <a href="https://github.com/axayjha" ><img src="https://github.com/axayjha/axayjha.github.io/raw/master/img/github.png" width="60px"></a> profile. </p>
    <br>

    <hr>
<div class="posts centered">
  {% for post in site.categories.projects %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry article">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
